<div class="name">Cold,Flu and Sinus</div>
<div class="name">Sleep Aide</div>
<div class="name">Pain Relief</div>
<div class="name">Pain Relief,fever reducer</div>
<div class="name">Feminine product, Pain Relief,Menstrual cramps</div>
<div class="name">Allergies</div>
<div class="name">Eye Care</div>
<div class="name">Rash, Allergies</div>
<div class="name">First Aid</div>
<div class="name">Gastrointestinal,laxative</div>
<div class="name">Gastrointestinal, Anti-reflux</div>
<div class="name">Motion Sickness</div>
<div class="name">Rash,antifungal</div>
<div class="name">Pain Relief,Urinary</div>
<div class="name">Pain Relief, Headache,Migraine</div>
<div class="name">Creams</div>
<div class="name">Heartburn</div>
<div class="name">Upset Stomach</div>
<div class="name">Nausea and Vomiting</div>
<div class="name">Sinusitis</div>
<div class="name">Headaches</div>
<div class="name">Hemmorhoids</div>
<div class="name">Rectal irritation</div>
<div class="name">Insomnia</div>
<div class="name">Aches</div>
<div class="name">Arthritis</div>
<div class="name">Itching</div>
<div class="name">Cough</div>
<div class="name">Cold sore</div>
<div class="name">Fever Blister</div>
<div class="name">Laxative-stimulant</div>
<div class="name">Menstrual Cramps</div>
<div class="name">Mouth Pain</div>
<div class="name">Yeast Vaginal Infection</div>
<div class="name">Athlete's foot</div>
<div class="name">Burns-First degree</div>
<div class="name">Insect Bites</div>
<div class="name">Jock itch</div>
<div class="name">Cuts-minor</div>
<div class="name">Ringworm</div>
<div class="name">Dry Eyes</div>
<div class="name">Hay Fever</div>
<div class="name">Anal Fissure</div>
<div class="name">Eye Irritation</div>
<div class="name">Toothache</div>
<div class="name">Canker sores</div>
<div class="name">Cough suppressant</div>
<div class="name">Menstrual pain</div>
<div class="name">Menstrual bloating</div>
<div class="name">Sinus Headache</div>
<div class="name">Expectorant</div>
<div class="name">Tension Headache</div>
<div class="name">Muscle sprain</div>
<div class="name">Back pain</div>
<div class="name">Sunburn</div>
<div class="name">Scrapes</div>
<div class="name">Indigestion</div>
<div class="name">Diarrhea</div>
<div class="name">Gas</div>
<div class="name">Traveler's Diarrhea</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Belching</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Muscle Aches</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Fever</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Bursitis</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Tendonitis</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Urinary pain</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Urinary Burning</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Urinary Frequency assoc. with UTI</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Laxative-stimulant free</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Nasal decongestant</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Chest congestion</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Mucus</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Eyelid debris/crusting</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Sinus pressure</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Nighttime sleep Aide</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Constipation</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Poison ivy</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Psoriasis</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Rash</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Eczema</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Sneezing</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Runny Nose</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Watery Eyes</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Itchy Throat</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Itchy Nose</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Migraine</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Cramps</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Sore throat pain</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Stool softener</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Muscle pain</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Nasal congestion</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Fever reducer</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Cough due to minor throat or bronchial irritation</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Itchy Eyes</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Bruises</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Contact dermatitis</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Contusion</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Oral irritation-minor</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Anal itching-external</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Genital itching-external</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Vaginal Yeast infection</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Nausea</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Tired Eyes</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Dizziness</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Eye relief</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Sleeplessness</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Difficulty falling asleep</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relief from tired dry feeling eyes</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Vomiting</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relieve pain from hemorrhoids</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relieve itching from hemorrhoids</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">antitussive</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Helps loosen phlegm(mucus)</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relief of constipation</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relief from mouth pain</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Sinus congestion</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">relief of eye irritation</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relief from itchy rash</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">relief from hay fever</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">relief from allergies</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">relief of menstrual cramps</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Fatigue associated with menses</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li><li data-aid="NESTED_LIST_ITEM" class="cat-item clearfix" data-depth="1" style="opacity: 1; margin-left: 0px;"><div data-aid="NESTED_LIST_DRAG_HANDLE" class="r-nav-item-draghandle" style="margin-left: 0px;"><i class="uxicon uxicon-grab-vert drag-handle"></i></div><div class="category"><div class="drop-tooltip"><div>Drop here to create a subcategory.</div></div><div class="name">Relief from minor aches and pain</div><div class="cat-icons links-dark pull-right"><a data-aid="TAXON_LIST_ITEM_EDIT_ICON" href="javascript:;"><span class="uxicon uxicon-edit"></span></a><span class=""><a href="javascript:;" class="" id="" title="" data-aid="TAXON_LIST_ITEM_REMOVE_ICON"><span class="uxicon uxicon-trash"></span></a></span></div></div></li></ul>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    string = "";
$( ".name" ).each(function( index ) {
  string += "{ id:" + index + ", Name: \"" + $( this ).text() +"\", sku:\""+ convertToSlug($( this ).text()) + "\" },";
});

function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'')
        ;
}


console.log(string);
</script>